.food-image {
  max-height: 50px;
}

.center-row {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.menu-food-quantity {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.cart-item-left {
  float: left;
  margin-top: 5px;
  margin-right: 30px;
}
