<div class="row" ng-controller="MenuCtrl">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-4 panel panel-default"
       ng-repeat="item in menu | menuFilter:state">
    <div class="panel-body" ng-click="goToFoodDesc(item)">
      <img class="food-image" ng-src="{{item.img}}">
      <span>{{getName(item, "name")}}</span>
    </div>
  </div>
</div>
