<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="請輸入手機號碼">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="showOrderDetail=!showOrderDetail">驗證</button>
      </span>
    </div><!-- /input-group -->

    <hr>

    <div class="panel panel-default">
      <div class="panel-heading">訂單詳情</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in currentItems">
              <span>{{item.name}}</span>
              <span class="pull-right">{{item.quantity}}份</span>
            </li>
          </ul>
        </div>
      <div class="panel-footer">共{{total}}元</div>
    </div>

    <div ng-show="showOrderDetail">
      <div class="btn-group panel panel-default">
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'togo'">外送</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'pickup'">來店取餐</label>
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2" ng-show="radioModel=='togo'"><span class="glyphicon glyphicon-home"></span></span>
        <input type="text" class="form-control" placeholder="地址" aria-describedby="sizing-addon2" ng-show="radioModel=='togo'">
      </div>

      <hr>

      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="text" class="form-control" placeholder="驗證碼" aria-describedby="sizing-addon2">
      </div>

      <div class="text-center">
        <button class="btn btn-default btn-lg navbar-btn">提交訂單</button>
        <button class="btn btn-default btn-lg navbar-btn">回上頁</button>
      </div>
    </div>
  </div>
</div>
