<div class="item">
	<!-- Use the below link to put HOT icon -->
	<!-- <div class="item-icon"><span>TAG</span></div> -->
	<!-- Item image -->
	<div class="item-image">
	  <a href="#"><img ng-src="{{img}}" alt="" class="img-responsive"/></a>
	</div>
	<!-- Item details -->
	<div class="item-details">
	  <!-- Name -->
	  <h5><a href="#">{{name}}</a></h5>
	  <div class="clearfix">{{desc}}</div>
	  <!-- Your Product Details -->
	  <hr/>
	  <!-- Price -->
	  <div class="item-price pull-left"><h3>Price: {{price}}</h3></div>
    <div class="clearfix"></div>
	  <div class="text-center" style="margin: 10px">
      <button type="button" class="btn btn-primary" aria-label="+" ng-click="plus()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <span class="menu-food-quantity"> {{quantity}} </span>
      <button type="button" class="btn btn-primary" aria-label="-" ng-click="minus()">
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </button>
    </div>
	  <div class="clearfix"></div>
    <div class="text-center" style="margin: 10px"><a href="#" class="btn btn-danger btn-md" ng-click="addToCart()">Add to Cart</a></div>

	</div>
</div>
