<div class="row">
  <div class="col-xs-12 col-md-12">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"
          ng-repeat="title in menuTitles"
          ng-click="select($index)"
          ng-class="{active:$index == selected}">
        <a ui-sref="home.{{title.state}}">{{title.name}}</a>
      </li>
    </ul>
  </div>
</div>

<div ui-view></div>

<div class="row text-center" style="margin-bottom: 1em">
  <button class="btn btn-primary" type="button" ng-click="goToCart()">
    Shopping Cart <span class="badge">{{totalItemCount}}</span>
  </button>
</div>
