<div class="row">
  <div class="col-xs-12 col-md-12">
    <h1>購物車
    <button class="btn btn-default pull-right" ng-click="edit()">編輯</button>
    <ul class="list-group">
    </h1>
      <li class="list-group-item" style="text-align: right" ng-repeat="item in currentItems">
        <span class="cart-item-left close"
              aria-hidden="true"
              ng-click="delete(item); currentItems.splice($index, 1)"
              ng-show="itemAttr.showRemoveBtn">
                &times;
        </span>
        <span class="cart-item-left">{{item.name}}</span>
        <button type="button" class="btn btn-primary" aria-label="+" ng-click="plus(item, $index)">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <span class="menu-food-quantity"> {{item.quantity}} </span>
        <button type="button" class="btn btn-primary" aria-label="-" ng-click="minus(item, $index)">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
      </li>
    </ul>
    <h3>總計 {{subtotal}}</h3>

    <nav>
      <ul class="pager">
        <li class="previous"><a href="#" ng-click="goToMenu()"><span aria-hidden="true">&larr;</span> 回菜單</a></li>
        <li class="next" ng-class="{disabled: isCartEmpty}"><a href="#" ng-click="goToAuth()">結帳 <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
  </div>
</div>
